.imgLargeT {
    background-color: #f8f8f8;
    width: 750px ;
    height: 532px;
    position: relative;
    overflow: hidden;
    z-index: 1 !important;
  }
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 90% !important;
    /* width: 90%; add by Fahad  */
  }
  .imgLargeT img {
    max-width: none !important;
  }
  .product-image .imgSmall img {
    height: 100%  !important;
  }
  .standardBoxMain .standardBox2 .boxImage img {
    height: 100%  !important;
  }
  /* ============================= */
  .login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }